<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.xysmartassistants.dao.filesystem.UserFileManagementDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.system.xysmartassistants.domain.model.UserFileManagement">
        <result column="file_id" property="fileId" jdbcType = "VARCHAR"/>
        <result column="file_name" property="fileName" />
        <result column="file_url" property="fileUrl" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_account" property="creatorAccount" />
        <result column="creator_date" property="creatorDate" />
        <result column="editor_id" property="editorId" />
        <result column="editor_account" property="editorAccount" />
        <result column="editor_date" property="editorDate" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        file_id, file_name, file_url, creator_id, creator_account, creator_date, editor_id, editor_account, editor_date, is_delete
    </sql>

    <!--条件查询-->
    <select id="selectAllByPage" resultType="com.system.xysmartassistants.domain.model.UserFileManagement">
        select
            file_id, file_name, file_url, creator_id, creator_account, creator_date, editor_id, editor_account, editor_date
        from user_file_management
        where
            is_delete = 0
            <if test="fileId != null and fileId != ''">
                and file_id = #{fileId}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName}
            </if>
            <if test="fileUrl != null and fileUrl != ''">
                and file_url = #{fileUrl}
            </if>
            <if test="creatorId != null and creatorId != ''">
                and creator_id = #{creatorId}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and creator_account = #{creatorAccount}
            </if>
            <if test="creatorDate != null and creatorDate != ''">
                and creator_date = #{creatorDate}
            </if>
            <if test="editorId != null and editorId != ''">
                and editor_id = #{editorId}
            </if>
            <if test="editorAccount != null and editorAccount != ''">
                and editor_account = #{editorAccount}
            </if>
            <if test="editorDate != null and editorDate != ''">
                and editor_date = #{editorDate}
            </if>
    </select>
    <!--通过Id查询-->
    <select id="selectAllByFileId" resultType="com.system.xysmartassistants.domain.model.UserFileManagement">
        select
            file_id, file_name, file_url, creator_id, creator_account, creator_date, editor_id, editor_account, editor_date
        from user_file_management
        where
            is_delete = 0
        <if test="fileId != null and fileId != ''">
            and file_id = #{fileId}
        </if>
    </select>


</mapper>

